/bin/

eclipse/
gradle/
.settings/
.gradle/
.classpath
.project
build.gradle
CREDITS-fml.txt
forge-1.7.10-10.13.2.1264-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt